/* stylesheet for the masterproject1 "brews and blues" 
will need to create border box for the card divs
*/
*,*::before,  *::after {
    box-sizing: border-box;
    font-family: concert one;
    
}
/* styling for the header*/
#welcome {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    color: blue;
    text-decoration: underline;
    text-decoration-color: black;
    font-style: oblique;
    text-shadow: black 2px 2px;
}
/*styling for brews card */
.container0 {
    position: relative;
    float: left;
    box-shadow: black 5px 5px 5px 5px;
    margin-right: 10px;
    background-image: radial-gradient(blue, red) ; 

}
/* styling for the music card */
.container1 {
    position: relative;
    float: right;
    box-shadow: black 5px 5px 5px 5px;
    margin-left: auto;
    background-image: radial-gradient(blue, red);
    
}
/* styling for the search */
#brews {
    width: 700px;
    height: 50px;
    background-color: white;
}
/* styling for the search input*/
#blues {
    width: 700px;
    height: 50px;
    background-color: white;
}
/*styling for the other search input*/
#drinks {
    padding: 10px;
    color: brown;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 10px;
    padding-top: 10px;
    height: 50px
}
/*styling for the search button*/
#music {
    padding: 10px;
    color: blue;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 10px;
    padding-top: 10px;
    height: 50px;
}
/*hover style for search button*/
#drinks:hover { 
    background-color: green;
}
/* hover style for the other search button*/
#music:hover {
    background-color: green;
}
/* styling for the intro paragraph*/
p {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: blue;
    text-shadow: black 1px 1px;
    
}
/*styling for the div box*/
#info-box {
    padding: 20px;
    margin-top: 10px;
    height: 400px;
    /*background-image: url(https://images.unsplash.com/photo-1513189737554-b1bbd839b9a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);*/
    
}
/* styling for the other div box*/
#info-box1{
    padding: 20px;
    margin-top: 10px;
    height: 400px;
   /*background-image: url(https://images.unsplash.com/photo-1518553343323-b5547b620030?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);*/
}
/* styling for the backgorund*/
body {
    background-image: radial-gradient(blue, red);
}
/* styling for the h1 in the cards */
.placard {
    color: blue;
    text-align: center;
    text-decoration: underline;
    font-style: unset;
    font-weight: 500;
    text-decoration-color: black;
    text-shadow: yellow 0px 0px 10px, green 0px 0px 10px;
}
/*styling for the images in the music div*/
#blues-img {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: auto;

}
/* styling for the brewery image div*/
#brew-img {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
/* styling for the results div*/
#results {
    color: red;
    display: block;
    position: absolute;
    margin-top: 600px;
    margin-left: 550px;
    margin-right: 550px;
    box-shadow: black 5px 10px 5px 10px;
    width: 700px;
    height: 600px;

}
/* styling for the results*/
#cheers {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    opacity: .5;
}
/* styling for the h2 in the results div */
#placard2 {
    color: blue;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: black;
    text-align: center;
    font-style: unset;
    text-shadow: yellow 0px 0px 10px, green 0px 0px 10px;
}